@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap");
/*GENERAL */
body {
  color: #333333;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

main {
  color: #333c4e;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  padding-bottom: 10px;
}

.main_btn {
  height: 48px;
  width: 100%;
  font-size: 18px;
  background-color: #f04240;
  color: #fff;
  border-color: #f04240;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-transition: all 0.125s ease-in;
  transition: all 0.125s ease-in;
  cursor: pointer;
}

.main_btn:hover {
  background-color: #cc3a37;
}

/* NAVBAR */
header {
  -webkit-box-shadow: 0 2px 4px 0 rgba(80, 89, 100, 0.16);
          box-shadow: 0 2px 4px 0 rgba(80, 89, 100, 0.16);
  padding: 5px 0;
  position: relative;
  z-index: 10;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar a {
  color: #333c4e;
  cursor: pointer;
}

header .navbar .call_link {
  border-bottom: 1px dotted #333c4e;
  font-size: 15px;
  line-height: 22px;
  padding: 0 !important;
  margin-right: 20px;
}

header .navbar .telephone {
  font-size: 16px;
}

header .navbar .call_link:hover {
  border-bottom: unset;
  color: #f04240;
}

header .navbar .nav_btn {
  border: 1px solid #333c4e;
  border-radius: 3px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  padding: 0 20px !important;
  -webkit-transition: all 0.125s ease-in;
  transition: all 0.125s ease-in;
}

header .navbar .nav_btn:hover {
  background: #cc3a37;
  color: #fff;
  border-color: #cc3a37;
}

/* BANNER */
#banner {
  background-image: url(/src/assets/img/header-promo.svg);
  height: 580px;
  background-repeat: no-repeat;
  background-color: #fff9f5;
  background-position: calc(50% - 280px) 80%;
}

#banner .banner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
}

#banner .banner_wrap .text {
  width: 530px;
}

#banner .banner_wrap .text h1 {
  margin: 0;
  font-size: 40px;
  line-height: 1.33;
  padding-bottom: 10px;
}

#banner .banner_wrap .text p {
  font-size: 16px;
  line-height: 1.5;
}

#banner .banner_wrap .order {
  width: 350px;
  padding: 30px 25px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 14px 20px 0 rgba(228, 217, 205, 0.6);
          box-shadow: 0 14px 20px 0 rgba(228, 217, 205, 0.6);
}

#banner .banner_wrap .order .input_wrap {
  margin-bottom: 10px;
  position: relative;
}

#banner .banner_wrap .order input[type=text] {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border: 1px solid #bbc1d2;
}

#banner .banner_wrap .order .input_wrap:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/map_mark.png);
  top: 16px;
  left: 9px;
  width: 12px;
  background-size: cover;
  background-position: center;
  height: 13px;
}

#banner .banner_wrap .order .radio_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .banner_wrap .order .radio_wrap input[type=radio] {
  display: none;
}

#banner .banner_wrap .order .radio_wrap input[type=radio]:checked + label {
  border: 1px solid #ffc1c0;
}

#banner .banner_wrap .order .radio_wrap label {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #fff9f5;
  white-space: nowrap;
  cursor: pointer;
}

#banner .banner_wrap .order p {
  padding-top: 25px;
  color: #697982;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
}

/* CARDS */
#cards {
  border-bottom: 2px solid #f2f6fc;
}

#cards .card_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cards .card_wrap .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding: 25px 20px;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 14px 20px 0 rgba(178, 178, 178, 0.14);
          box-shadow: 0 14px 20px 0 rgba(178, 178, 178, 0.14);
}

#cards .card_wrap .cards .img_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

#cards .card_wrap .cards .img_holder img {
  width: 52px;
  padding-right: 10px;
}

#cards .card_wrap .cards .text {
  text-align: center;
  font-size: 16px;
}

#cards .card_wrap .cards:nth-child(2) {
  margin: 0 20px;
}

/* WHY US */
#why_us {
  background: #fff9f4;
  border-top: 2px solid #f2f6fc;
}

#why_us .container {
  padding: 40px 0;
}

#why_us .container ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#why_us .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-top: 40px;
  padding-right: 35px;
}

#why_us .container ul li .icon_wrap {
  width: 50px;
  margin-right: 20px;
  border-radius: 15px;
}

#why_us .container ul li .icon_wrap .icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

#why_us .container ul li .text {
  font-size: 16px;
  line-height: 1.5;
}

#why_us .container ul li:nth-child(1) .icon {
  background-image: url(/src/assets/img/rocket.svg);
}

#why_us .container ul li:nth-child(2) .icon {
  background-image: url(/src/assets/img/calc.svg);
}

#why_us .container ul li:nth-child(3) .icon {
  background-image: url(/src/assets/img/rate.svg);
}

#why_us .container ul li:nth-child(4) .icon {
  background-image: url(/src/assets/img/wizard.svg);
}

#why_us .container ul li:nth-child(5) .icon {
  background-image: url(/src/assets/img/sms.svg);
}

#why_us .container ul li:nth-child(6) .icon {
  background-image: url(/src/assets/img/card.svg);
}

/* DELIVERY */
#delivery {
  border-top: 2px solid #f2f6fc;
}

#delivery .container {
  padding: 40px 0;
}

#delivery .container .block_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#delivery .container .block_wrap .block {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

#delivery .container .block_wrap .block .img_holder {
  padding-bottom: 20px;
}

#delivery .container .block_wrap .block .button_wrap {
  height: 48px;
  font-size: 18px;
  background-color: #ffffff;
  color: #f04240;
  border-color: #f04240;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-transition: all 0.125s ease-in;
  transition: all 0.125s ease-in;
  cursor: pointer;
}

#delivery .container .block_wrap .block .button_wrap a {
  line-height: 46px;
  text-align: center;
  color: #f04240;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.125s ease-in;
  transition: all 0.125s ease-in;
}

#delivery .container .block_wrap .block .button_wrap:hover {
  background-color: #cc3a37;
  border-color: #cc3a37;
}

#delivery .container .block_wrap .block .button_wrap:hover a {
  color: #fff;
}

#delivery .container .block_wrap .block:first-child {
  margin-right: 75px;
}

#delivery .container .block_wrap .block:last-child {
  margin-left: 75px;
}

/* HOW WE WORK */
#work {
  border-top: 2px solid #f2f6fc;
}

#work .container {
  padding: 40px 0;
}

#work .container .text {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 35px;
}

#work .container .text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

#work .container .text p a {
  color: #f04240;
  text-decoration: underline;
  -webkit-text-decoration-color: #f04240;
          text-decoration-color: #f04240;
}

#work .container .button_wrap {
  width: 300px;
  margin: 0 auto;
}

#work .container .button_wrap a {
  color: #fff;
}

/* FOOTER */
footer {
  border-top: 2px solid #f2f6fc;
}

footer .container {
  padding: 50px 0;
}

footer .container .img_holder {
  max-width: 200px;
  padding-bottom: 20px;
}

footer .container .contact {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer .container .days {
  color: #969696;
  font-size: 14px;
  line-height: 1.5;
}

footer .container .social {
  margin-top: 30px;
}

footer .container .social a {
  padding-right: 20px;
}

footer .container ul li {
  padding-bottom: 10px;
  color: #333c4e;
  font-size: 16px;
}

footer .container ul li a {
  color: #333c4e;
  font-size: 16px;
}

footer .container ul li .footer_label {
  color: #969696;
  font-size: 16px;
  margin-top: 20px;
}

footer .container ul li .whatsapp {
  color: #f04240;
  -webkit-text-decoration-color: #f04240;
          text-decoration-color: #f04240;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */