@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/*GENERAL */

$red: #f04240;
$black: #333c4e;

body {
    color: #333333;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

main {
    color: $black;
}

p {
    margin: 0;
    font-size: 18px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 32px;
    line-height: 1.25;
    padding-bottom: 10px;
}

.main_btn {
    height: 48px;
    width: 100%;
    font-size: 18px;
    background-color: $red;
    color: #fff;
    border-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 3px;
    white-space: nowrap;
    transition: all 0.125s ease-in;
    cursor: pointer;
}

.main_btn:hover {
    background-color: #cc3a37;
}

/* NAVBAR */ 

header {
    box-shadow: 0 2px 4px 0 rgba(80, 89, 100, 0.16);
    padding: 5px 0;
    position: relative;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;

    .navbar {
        display: flex;
        justify-content: space-between;

        .logo {
            max-width: 200px;
        }

        .navbar-collapse {
            flex-grow: unset;
            align-items: center;
        }

        .nav-item {
            display: flex;
            align-items: center;
        }

        a {
            color: $black;
            cursor: pointer;
        }

        .call_link {
           border-bottom: 1px dotted $black;
           font-size: 15px;
           line-height: 22px;
           padding: 0!important;
           margin-right: 20px;
        }

        .telephone {
            font-size: 16px;
        }

        .call_link:hover {
            border-bottom: unset;
            color: $red;
        }

        .nav_btn {
            border: 1px solid $black;
            border-radius: 3px;
            height: 32px;
            display: flex;     
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            padding: 0 20px!important;
            transition: all 0.125s ease-in;
        }

        .nav_btn:hover {
            background: #cc3a37;
            color: #fff;
            border-color: #cc3a37;
        }
    }
     
}

/* BANNER */ 

#banner {
    background-image: url(../img/header-promo.svg);
    height: 680px;
    background-repeat: no-repeat;
    background-color: #fff9f5;
    background-size: cover;
    background-position: center;
    margin-top: 65px;

    .banner_wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;

        .text {
            width: 530px;

            h1 {
                margin: 0;
                font-size: 40px;
                line-height: 1.33;
                padding-bottom: 10px;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
            }
        }

        .order {
            max-width: 350px;
            width: 100%;
            padding: 30px 25px;
            background-color: #fff;
            border: 1px solid #f2f2f2;
            box-shadow: 0 14px 20px 0 rgba(228, 217, 205, 0.6);

            .input_wrap {
                margin-bottom: 10px;
                position: relative;
            }

            input[type=text] {
                width: 100%;
                padding: 10px 10px 10px 30px;
                border: 1px solid #bbc1d2;
            }

            .input_wrap:before {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-image: url(../img/map_mark.png);
                top: 16px;
                left: 9px;
                width: 12px;
                background-size: cover;
                background-position: center;
                height: 13px;
            }

            .radio_wrap {
                display: flex;
                justify-content: space-between;

                input[type=radio] {
                    display: none;
                }

                input[type=radio]:checked + label {
                    border: 1px solid #ffc1c0;
                }

                label {
                    width: 50%;
                    display: flex;
                    height: 28px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background-color: #fff9f5;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }

            p {
                padding-top: 25px;
                color: #697982;
                text-align: center;
                font-size: 16px;
                line-height: 1.25;
            }
        }
    }
}

/* CARDS */ 

#cards {
    border-bottom: 2px solid #f2f6fc;

    .card_wrap {
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: center;

        .cards {
            display: flex;
            flex-direction: column;
            max-width: 270px;
            width: 100%;
            padding: 25px 20px;
            border: 1px solid #f2f2f2;
            box-shadow: 0 14px 20px 0 rgba(178, 178, 178, 0.14);

            .img_holder {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;

                img {
                    width: 52px;
                    padding-right: 10px;
                }
            }

            .text {
                text-align: center;
                font-size: 16px;
            }
        }

        .cards:nth-child(2) {
            margin: 0 20px;
        }
    }
}

/* WHY US */ 

#why_us {
    background: #fff9f4;
    border-top: 2px solid #f2f6fc;

    .container {
        padding-top: 40px;
        padding-bottom: 40px;

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li {
                display: flex;
                width: 30%;
                padding-top: 40px;
                padding-right: 35px;

                .icon_wrap {
                    width: 50px;
                    margin-right: 20px;
                    border-radius: 15px;

                    .icon {
                        width: 50px;
                        height: 50px;
                        border-radius: 15px;
                        background-color: #fff;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: auto;
                    }
                }

                .text {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }

            li:nth-child(1) {
                .icon {
                    background-image: url(../img/rocket.svg);
                }
            }

            li:nth-child(2) {
                .icon {
                    background-image: url(../img/calc.svg);
                }
            }

            li:nth-child(3) {
                .icon {
                    background-image: url(../img/rate.svg);
                }
            }

            li:nth-child(4) {
                .icon {
                    background-image: url(../img/wizard.svg);
                }
            }

            li:nth-child(5) {
                .icon {
                    background-image: url(../img/sms.svg);
                }
            }

            li:nth-child(6) {
                .icon {
                    background-image: url(../img/card.svg);
                }
            }
        }
    }
}

/* DELIVERY */ 

#delivery {
    border-top: 2px solid #f2f6fc;

    .container {
        padding-top: 40px;
        padding-bottom: 40px;

        .block_wrap {
            display: flex;
            justify-content: center;

            .block {
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 20px;

                .img_holder {
                    padding-bottom: 20px;
                }

                .button_wrap {
                    height: 48px;
                    font-size: 18px;
                    background-color: #ffffff;
                    color: #f04240;
                    border-color: #f04240;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid;
                    border-radius: 3px;
                    white-space: nowrap;
                    transition: all 0.125s ease-in;
                    cursor: pointer;

                    a {
                        line-height: 46px;
                        text-align: center;
                        color: $red;
                        padding: 0 20px;
                        text-decoration: none;
                        transition: all 0.125s ease-in;
                    }
                }

                .button_wrap:hover {
                    background-color: #cc3a37;
                    border-color: #cc3a37;
                }

                .button_wrap:hover a {
                    color: #fff;
                }
            }

            .block:first-child {
                margin-right: 75px;
            }

            
            .block:last-child {
                margin-left: 75px;
            }
        }
    }
}

/* HOW WE WORK */ 

#work {
    border-top: 2px solid #f2f6fc;

    .container {
        padding-top: 40px;
        padding-bottom: 40px;

        .text {
            width: 700px;
            margin: 0 auto;
            padding-bottom: 35px;

            p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 16px;

                a {
                    color: $red;
                    text-decoration: underline;
                    text-decoration-color: $red;
                }
            }
        }

        .button_wrap {
            width: 300px;
            margin: 0 auto;

            a {
                color: #fff;
            }
        }
    }
}

/* FOOTER */ 

footer {
    border-top: 2px solid #f2f6fc;

    .container {
        padding: 50px 0;

        .img_holder {
            max-width: 200px;
            padding-bottom: 20px;
        }

        .contact {
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .days {
            color: #969696;
            font-size: 14px;
            line-height: 1.5;
        }

        .social {
            margin-top: 30px;

            a {
                padding-right: 20px;
            }
        }

        ul {
            li {
                padding-bottom: 10px;
                color: $black;
                font-size: 16px;

                a {
                    color: $black;
                    font-size: 16px;
                }

                .footer_label {
                    color: #969696;
                    font-size: 16px;
                    margin-top: 20px;
                }

                .whatsapp {
                    color: $red;
                    text-decoration-color: $red;
                    text-decoration: underline;
                }
            }
        }

        .wrapper {
            img {
                max-width: 150px;
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

    //TEMPLATES 
//TERMS & CONDITIONS

#terms {
    font-family: 'Roboto',Arial,sans-serif;

    p {
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
        color: #000;
        margin-bottom: 20px;
    }

    .container {
        max-width: 880px;

        .text {
            text-align: left;
        }

        .title {
            font-size: 36px;
            line-height: 1.23;
            font-weight: 600;
            color: #000;
            padding: 135px 0 90px 0;
        }

        .subtitle {
            font-size: 28px;
            line-height: 1.17;
            margin-bottom: 35px;
            color: #000;
            font-weight: 600;
        }

        .hero {
            text-align: center;
            max-width: 760px;
            margin: 0 auto;
        }

        .box_wrapper {
            margin-top: 100px;

            .box {
                background-color: #f5f5f5;
                padding: 60px;
                margin-bottom: 180px;
            }
        }
    }

    footer {
        background-color: #000;
        text-align: center;
        padding: 35px 0 45px;

        .footer_wrapper {
            max-width: 340px;
            margin: 0 auto;
            display: block;

            .inner {
                margin-bottom: 20px;
                opacity: .4;

                &:hover {
                    opacity: 1;
                }
            }

            p {
                letter-spacing: .2px;
                line-height: 1.4;
                font-size: 14px;
                color: #fff;
                font-family: Arial;
            }

            img {
                width: 40px;
                padding-bottom: 15px;
            }

            .btn {
                background-color: #fff;
                color: #000;
                padding: 10px 20px;
                font-size: 13px;
                border-radius: 50px;
                text-decoration: none;
            }

            .term_link {
                font-size: 13px;
                text-decoration: none;
                color: #fff;
                padding: 0 15px;
            }
        }
    }
}

//ABOUT US
#about {
    margin-top: 130px;
    margin-bottom: 50px;

    p {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    ul {
        list-style: disc;
        padding-left: 20px;
    }

    ol {
        list-style: lower-roman;
    }
}

//TRACKING
#track {
    margin-top: 130px;

    .container {
        .title {
            text-align: left;
        }

        p {
            color: #333c4e;
            font-size: 16px;
            line-height: 1.5;
        }

        .order_tracking {
           padding: 30px 0; 

           .order_wrapper {
               display: flex;
               flex-direction: row;

               .input {
                   width: 240px;
                   margin-right: 16px;

                   input {
                       width: 100%;
                       border: 1px solid #e4d9cd !important;
                        border-radius: 2px !important;
                        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                        padding: 12px;
                    }

                    button {
                        padding: 10px 30px;
                        font-size: 16px;
                        width: 65%;
                        color: #fff;
                        text-align: center;
                        background-color: grey;
                        border: 1px solid gray;
                        border-radius: 3px;
                        cursor: pointer;
                        user-select: none;
                        outline: none;
                        text-decoration: none;
                    }
                }
           }
        }

        .mobile_tracking {
            padding: 40px 30px;
            background-color: #f5f5f5;
            margin-bottom: 50px;

            h2 {
                margin: 0;
                color: #333c4e;
                font-size: 23px;
                line-height: normal;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}

//CONTACT
#map {
    iframe {
        display: block;
    }
}

@media (max-width: 1120px) {
    #banner {
        height: 460px;
        padding-bottom: 110px;

        .banner_wrap {
            padding-bottom: 15px;
            flex-wrap: nowrap;

            .text {
                width: 350px;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.7;
                }
            }
        }
    }

    #why_us {
        .container {
            ul {
                li {
                    width: 50%;
                    padding-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 992px ) {
    header {
        .container {
            max-width: 100%!important;

            .telephone {
                display: none;
            }
        }
    }
}

@media (max-width: 768px ) { 
    .title {
        font-size: 22px;
    }

    header {
        top: -1px;

        .custom-toggler.navbar-toggler {
            border-color: rgb(240,66,64);
        }
        .custom-toggler .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,66,64, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

        .navbar {
            .call_link {
                margin-right: 0;
                display: none;
            }

            .nav-item {
                justify-content: center;
                margin-bottom: 15px;
            }
        }

        
    }

    #banner {
        background: #fff9f5; 
        padding-bottom: 0;
        height: inherit;

        .banner_wrap {
            flex-direction: column;
            padding-bottom: 50px;

            .text {
                width: 100%;
                text-align: center;

                h1 {
                    font-size: 26px;
                }
            }

            .order {
                width: 100%;
                margin: 0 auto;
                margin-top: 30px;
            }
        }
    }

    #cards {
        .card_wrap {
            flex-direction: column;
            align-items: center;

            .cards {
                margin-bottom: 30px!important;
                max-width: 230px;

                .text {
                    font-size: 14px;
                }
            }

            .cards::nth-child(2) {
                margin: unset!important;
            }
        }
    }

    #work {
        .container {
            .text {
                width: 100%;

                p {
                    font-size: 14px;
                }
            }

            .button_wrap {
                width: 100%;
            }
        }
    }

    #why_us {
        .container {
            ul {
                li {
                    width: 100%;
                    padding-right: 0;

                    .text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #delivery {
        .block_wrap {
            flex-direction: column;
            align-items: center;

            .block {
                margin: 0!important;
            }
        }
    }

    footer {
        .container {
            padding-bottom: 0;

            .col-md-4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
    
                ul {
                    text-align: center;
                }
            }
        } 
    }

    #terms {
        .title {
            font-size: 24px!important;
        }

        .subtitle {
            font-size: 22px!important;
        }

        p {
            font-size: 16px;
            line-height: 1.45;
        }

        .box {
            padding: 10px!important;
        }
    }

    #track {
        .order_wrapper {
            flex-direction: column!important;

            .input {
                margin-bottom: 20px;
            }
        }
    }
}