<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/scss/style.css">
    <title>Zimbago</title>
</head>
<body>

<main id="terms">
    <div class="container">
        <div class="hero">
            <h1 class="title">Terms & Conditions for MrSpeedy Malaysia</h1>
            <div class="text">
                <p class="mb-5"> These Terms of Service ("Terms") govern the access or use by you of applications, websites, content, products, and services (the "Services") made available by MrSpeedy Malaysia. </p>
                <p>PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING OUR SERVICES.</p>
            </div>
        </div>

        <section class="box_wrapper">
            <div class="box">
                <h3 class="subtitle">1. Definitions and Interpretation</h3>
                <p>(a) In these terms and conditions, the following definitions and rules of interpretation apply unless otherwise defined or the context requires otherwise: "We", "Ours", "MrSpeedy" refers to MrSpeedy Malaysia.</p>
                <p>"Services" means any and all services provided by us to you as defined in section 2 below;</p>
                <p>"Applications" means the MrSpeedy web-based and mobile application supplied by us and downloaded and installed by you on your electronic device through which you may obtain the Services;</p>
                <p>"Couriers" means the independent third party who offers delivery services and may be requested through the use of our Applications and Services;</p>
                <p>"Advertisement" means any promotion messages and information that may appear on your mobile device during the operation of the App;</p>
                <p>(b) Headings are for convenience only and do not affect interpretation. The singular includes the plural and the masculine shall include the feminine and neuter and vice versa.</p>
                <p>(c) A reference to a person, corporation, trust, partnership, unincorporated body or other entity includes any of them.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">2. Services</h3>
                <p>(a) The Services we provide is to offer a technology platform via our Applications for you to post the details of your delivery needs and to distribute the details of your delivery needs you posted to independent Couriers. As part of the Services, we also provide certain information in regards to the Couriers who accepted your posting, including the name, location, vehicle identification, and ratings. The Couriers have the sole discretion to accept or reject your request;</p>
                <p>(b) You acknowledge and agree that we only act as an intermediary between you and the Couriers and WE ARE NOT YOUR AGENT OR THE AGENT OF THE INDEPENDENT COURIERS and that we are not a delivery company, a courier company and do not provide delivery services;</p>
                <p>(c) We are not responsible for the behavior, negligence, conduct, actions or inactions on the part of the Couriers that you may use via your posting on our Applications. Any contract for the provision of transport and logistics services is between you and the independent Couriers and not us. We shall never be a party to any agreement (to be) entered into between you and any Couriers. If you have any complaint in relation to the delivery services provided then that dispute must be taken up with the Courier directly;</p>
                <p>(d) You must safeguard any login name and password that we may provide you to access our Applications and Services and shall not disclose them to third parties; and</p>
                <p>(e) We shall assume that any person using your electronic device to access our Applications and Services, your username and password is you or a person authorized by you.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">3. License of Applications</h3>
                <p>(a) You are permitted to install and use a copy of the Applications for your own personal, non-commercial use provided that you comply with all of the Terms of this section;</p>
                <p>(b) You are not permitted to rent, lease, sublicense, distribute or transfer copies of the Applications or the license for the use of the Applications to any third parties.</p>
                <p>(c) You shall not modify, adapt, reverse engineer, decompile, disassemble, translate the Applications or create derivative works based on the Applications.</p>
                <p>(d) You shall not interrupt the normal operation of the Applications, or use any methods to export or modify the source code of the Applications.</p>
                <p>(e) You shall not upload or send out any kinds of computer viruses, worms, trojans, or malicious codes.</p>
                <p>(f) You shall not install and/or execute the Applications on any device other than the mobile device running the operating systems approved by MrSpeedy.</p>
                <p>(g) Other than the license to use the Applications granted in paragraph 3 (a), no other license or right is hereby granted to you and the ownership of the Applications and all other rights are hereby expressly reserved by MrSpeedy and its suppliers.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">4. Terms of Usage</h3>
                <p>You agree, represent and warrant:</p>
                <p>(a) that all the information and details provided by you to us in your registration, updates and communication, either through the Applications or other means are true, accurate, complete and up-to-date in all respects and at all times;</p>
                <p>(b) that the delivery item is securely properly and sufficiently packed, labelled and/or prepared in a case, wrapper or container appropriate to the nature and weight of the delivery item such that no part of the Delivery Item may be removed without the case, wrapper or container being torn or broken, a seal being broken or two adhesive surfaces being forced part. In the event that packing of the Delivery Item is deemed by MrSpeedy to be unsuitable for transportation, you shall, upon notification by MrSpeedy, re-pack the delivery item in a suitable case, wrapper or container in accordance with MrSpeedy's directions. MrSpeedy shall not be liable for loss or damage arising from insecured, insufficient and/or improper packing;</p>
                <p>(c) that the delivery item is adequately packed in a case or container of sufficient durability and strength so as to protect against damage to the contents during the course of delivery and shall be encased in or surrounded by sufficient and suitable protective material inside that case or container and that such delivery item is marked in a delivery request with "FRAGILE" in the case of a delivery item of a fragile nature and prominently displayed on the packaging of a delivery item.</p>
                <p>(d) you will not use our Applications and Services: for any unlawful purpose; in any way that interrupts, damages, impairs or renders our Services less efficient; to access or attempt to access the accounts of other users or to penetrate or attempt to penetrate any security measures; to advertise or promote third party or your own products or services;</p>
                <p>(e) to comply with all applicable laws while using our Applications and Services;</p>
                <p>(f) you will not use the Applications and Services to cause nuisance, annoyance or inconvenience;</p>
                <p>(g) that all the information and details provided by you to us in your orders, either through the Applications or other means are true, accurate and complete in all respects and at all times. You agree to compensate us and the Couriers for all additional Charges incurred in the event when information and details related to your orders are inaccurate or incomplete;</p>
                <p>(h) to refrain from doing anything which we reasonably believe to be disreputable or capable of damaging our reputation;</p>
                <p>(i) to provide us with whatever proof of identity we may reasonably request;</p>
                <p>(j) to treat the independent Couriers introduced to you via our Applications with respect and not to cause damage to their assets or engage in any unlawful, threatening, harassing, abusive behavior or activity whilst they are providing services to you; and</p>
                <p>(k) to compensate and defend us fully against any claims or legal proceedings brought against us by any other person as a result of your breach of these Terms.</p>
                <p>(l) We reserve the right to suspend, restrict or terminate your access to our Applications and Services at any time without advance notice or liability if we have reasonable grounds to believe you have breached any of these Terms or in our opinion you misuse our Applications and Services. This shall not limit our right to take any other action against you that we consider appropriate to defend our rights or those of any other person.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">5. Conditions for Acceptance of Transport / Delivery of Packages</h3>
                <p>We may refuse acceptance of transport of packages or delivery items if any of the following cases applies:</p>
                <p>(a) Your's request does not comply with our Terms of Service;</p>
                <p>(b) You fail to enter a valid address and other required fields that are recognisable by the MrSpeedy system;</p>
                <p>(c)The package(s) or item(s) is / are not suitable for transport through our services and/or our independent courier;</p>
                <p>(d) The transport may violate laws and regulations; or is detrimental to public order, or injurious to public morals;</p>
                <p>(e)The package or item are of the following items:</p>
                <p>(i) Explosives or other hazardous materials or any similar packages that are likely to cause damage to other packages;</p>
                <p>(ii) Packages specifically determined by MrSpeedy to be unacceptable, including but not limited to combustible, inflammable, poisonous and toxic materials, livestocks, dogs, cats, little birds, guns and swords etc.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">6. Payment</h3>
                <p>(a) Payment amounts quoted are in Malaysia currency and include Malaysian Sales and Services Tax (SST), where applicable.</p>
                <p>(b) MrSpeedy has the absolute right to revise the prices of any fees without giving prior notice.</p>
                <p>(c) MrSpeedy has the absolute right to revise the prices of any credit packages or credit amount/limits where applicable without giving prior notice.</p>
                <p>(d) Any application/request for service is subjected to availability of resources. In the event any application submitted is not processed, MrSpeedy shall inform the User at the information specified by the User.</p>
                <p>(e) MrSpeedy shall process the application/request for top-up only after the User's Payment is cleared by the bank appointed by MrSpeedy and upon approval by MrSpeedy.</p>
                <p>(f) MrSpeedy reserves the right to refund to the User the equivalent sum of amount paid in the event MrSpeedy for any reason is unable to process the application/request of Packages/Fees.</p>
                <p>(g) Credits sold are not exchangeable, returnable nor refundable.</p>
                <p>(h) Receipt is issued to the User when the Payment is successful. However, in the event that the Payment is not cleared by the bank, the receipt will be considered void.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">7. Links and Advertisements</h3>
                <p>Our Applications may contain Advertisements and links to third party websites. We shall not be responsible for the contents and accuracy of any Advertisement. Any links to third party websites are provided solely for your convenience and not in any way as an endorsement by us of the contents on such third party websites. If you access any linked third party website or Advertisement, you do so entirely at your own risk. We shall not be responsible for any transactions between you and any advertisers or third party website operators.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">8. Promotions</h3>
                <p>We may introduce promotions from time to time. We reserve the right to amend, suspend, withdraw or terminate, whether in whole or part, any and all such promotions without prior notice and at our absolute discretion.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">9. Natural Disasters</h3>
                <p>Delivery services will be temporarily suspended when typhoon warning signal No. 8 or above or red / black rainstorm warning is in force. Delay is expected due to unexpected traffic condition on rainy days.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">10. Disclaimers, Limitation of Liability and Indemnity</h3>
                <p>10.1. Disclaimer</p>
                <p>The services are provided "as is" and "as available." MrSpeedy disclaims all representations and warranties, express, implied or statutory, not expressly set out in these terms, including the implied warranties of merchantability, fitness for a particular purpose and non-infringement. In addition, we make no representation, warranty, or guarantee regarding the reliability, timeliness, quality, suitability or availability of the services or any services requested through the use of the services, or that the services will be uninterrupted or error-free. We do not guarantee the quality, suitability, reliability, honesty or ability of delivery agents. You agree that the entire risk arising out of your use of the services, and any service requested in connection therewith, remains solely with you, to the maximum extent permitted under applicable law.</p>
                <p>10.2. Limitation of Liability</p>
                <p>MrSpeedy shall not be liable for indirect, incidental, special, exemplary, punitive or consequential damages, including lost profits, lost data, lost of property or delivery items or delivery items, damage to property or delivery items related to, in connection with, or otherwise resulting from any use of the services, even if we have been advised of the possibility of such damages. MrSpeedy shall not be liable for any damages, liability or losses arising out of: (i) your use of or reliance on the services or your inability to access or use the services; or (ii) any transaction or relationship between you and any courier, even if MrSpeedy has been advised of the possibility of such damages. We shall not be liable for delay or failure in performance resulting from causes beyond our reasonable control.</p>
                <p>MrSpeedy's services may be used by you to request and schedule delivery services with courier,, but you agree that MrSpeedy has no responsibility or liability to you related to any delivery services provided to you by courier other than as expressly set forth in these terms.</p>
                <p>The limitations and disclaimer in this section do not purport to limit liability or alter your rights as a consumer that cannot be excluded under applicable law.</p>
                <p>MrSpeedy shall not be liable for loss or damage arising from or in connection with:</p>
                <p>(a) your failure to provide complete and accurate delivery instruction and sufficient packing in respect of a delivery Item;</p>
                <p>(b) the misalignment, wear and tear, heat, mould, rot, discolouration, degeneration, explosion, ignition or the hazardous, perishable, corruptible, fragile, or brittle nature of the contents of the delivery item;</p>
                <p>(c) MrSpeedy's failure to perform any of its obligations hereunder as a consequence of circumstances outside its control, including without limitation any act of God such as weather conditions, flood or earthquake, work stoppages, strikes, industrial disputes, war, any act of government (including delay or confiscation or detention of the delivery Item by government</p>
                <p>authority), accidents, traffic obstructions or congestion, mechanical breakdown, or other events; or</p>
                <p>(d) any acts or omissions of any party other than MrSpeedy, including without limitation you, the named addressee, any government official or statutory body.</p>
                <p>MrSpeedy shall not be liable for indirect or consequential loss or damage, including without</p>
                <p>limitation loss of profit, income, interest, future business or anticipated savings, even if</p>
                <p>the risk of such loss or damage was brought to our attention before or after acceptance of the delivery Item.</p>
                <p>10.3. Indemnity</p>
                <p>You agree to indemnify and hold MrSpeedy and its officers, directors, employees and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including legal fees) arising out of or in connection with: (i) your use of the Services obtained through your use of our Applications; (ii) your breach or violation of any of these Terms; (iii) MrSpeedy's use of your User Content; or (iv) your violation of the rights of any third party, including Courier</p>
            </div>

            <div class="box">
                <h3 class="subtitle">11. Claims</h3>
                <p>(a) Any claims for damage to and/or loss of the delivery Item must be made within five (5) business days from the date on which MrSpeedy accepts for the delivery Item for delivery, failing which MrSpeedy shall have no liability whatsoever.</p>
                <p>(b) Claims are limited to one claim per delivery Item, settlement of which shall be full and</p>
                <p>final settlement for all loss or damage in connection therewith.</p>
                <p>(c) Without prejudice to Clause 9 and provided that MrSpeedy is satisfied that your claim is justified, MrSpeedy's liability for any loss of the delivery item shall be limited to the cost of the delivery item as indicated by you, upon acceptance of the delivery item by MrSpeedy or RM200 per delivery item, whichever is lower ("Compensation Limits").</p>
                <p>(d) In the case of damage to the delivery item, the amount of compensation shall be based on MrSpeedy's own assessment of the extent of the damage to and the actual cash value of the contents of the delivery item provided always that the amount of compensation shall not exceed the Compensation Limits.</p>
                <p>(e) MrSpeedy is not obliged to act on any claim until all the fees and/or transportation charges in respect of any delivery item have been paid. The claim amount may not be deducted from the fees and/or these charges or from any outstanding balance owed to MrSpeedy by you under any services provided to you.</p>
                <p>(f) Save in cases of a delivery failure and provided that MrSpeedy is satisfied that your claim is justified, our liability for any loss or damage arising from MrSpeedy's failure to deliver a delivery Item by the date of delivery shall be limited to the amount of the fees charged in respect of that delivery item.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">12. Personal data and privacy</h3>
                <p>(a) You may be required to submit personal information to MrSpeedy in order to use certain function of the Applications.</p>
                <p>(b) You agree that MrSpeedy can use your personal data (namely your name and contact number) as provided by you to MrSpeedy from time to time when you use the Applications for the purpose of providing the Services.</p>
                <p>(c) You agree that MrSpeedy is entitled to collect, use, keep and update your personal data to such extent, for and at such time period as may be necessary when MrSpeedy provides the Services to you, and you confirm that the personal data so provided by you are true and correct and up to date.</p>
                <p>(d) You further expressly consent that MrSpeedy is entitled to transfer your personal data to the Couriers as may be necessary including, without limitation for the purposes of sourcing a booking to be accepted by a courier, confirmation/clarification of the booking information between you and the courier, and tracking the booked couriers when MrSpeedy provides the Services to you.</p>
                <p>(e) You further agree that the collection, use, storage and transfer of your personal data is generally subject to MrSpeedy's privacy policy and personal information collection statement the latest version(s) thereof is at "www.mrspeedy.my", and you acknowledge that you have read and understood the same prior to agreeing to these Terms and Conditions.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">13. Modification of Terms and the Services</h3>
                <p>We reserve our rights to change any of these Terms and the revised Terms will be binding on you upon posting on our website. We also reserve the rights to change, suspend or discontinue our Services by sending by posting a notice on our website, which also shall be binding on you upon posting.</p>
            </div>

            <div class="box">
                <h3 class="subtitle">14. Governing law and jurisdiction</h3>
                <p>These Terms shall be governed by and construed in accordance with the laws of Malaysia. Both you and us agree to submit to the exclusive jurisdiction of the courts of Malaysia as regards any dispute or matter arising under these Terms.</p>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer_wrapper">
            <div class="inner">
                <img src="../assets/img/tildacopy.png" alt="">
                <p>This site was made on Tilda — a website builder that helps to create a website without any code</p>
                <a href="#" class="btn">Create a website</a>
            </div>
            <div class="inner">
                <a href="#" class="term_link">How to remove this block?</a>
                <a href="#" class="term_link">About platform</a>
                <a href="#" class="term_link">Submit a complaint</a>
            </div>
        </div>
    </footer>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>